################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserManagment/bin/Debug/net8.0
/UserManagment/obj
